/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* @license
 * MyFonts Webfont Build ID 2367569, 2012-09-18T13:05:09-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Pluto Sans Bold by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/bold/
 * Licensed pageviews: 10,000
 * 
 * Webfont: Pluto Sans Light by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/light/
 * Licensed pageviews: unspecified
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2367569
 * Webfonts copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved.
 * 
 * © 2012 Bitstream Inc
*/
@font-face {
  font-family: 'PlutoSansBold';
  src: url('webfonts/242051_0_0.eot');
  src: url('webfonts/242051_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/242051_0_0.woff') format('woff'), url('webfonts/242051_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'PlutoSansLight';
  src: url('webfonts/242051_1_0.eot');
  src: url('webfonts/242051_1_0.eot?#iefix') format('embedded-opentype'), url('webfonts/242051_1_0.woff') format('woff'), url('webfonts/242051_1_0.ttf') format('truetype');
}
b {
  font-family: PlutoSansBold, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
hr {
  margin: 50px auto 48px auto;
  width: 62px;
  border: 0;
  border-top: 1px solid red;
}
body {
  position: relative;
  padding-bottom: 64px;
  background: url('../img/bghtml.gif') left top no-repeat;
  min-height: 100%;
  font-family: PlutoSansLight, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  background: #f8f7f4;
}
body:after {
  content: " ";
  position: absolute;
  width: 168px;
  border-bottom: 5px solid #ed513b;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -84px;
}
body #wrapper {
  width: 743px;
  margin: 0 auto;
  text-align: center;
}
body #wrapper #opening {
  margin: 0 auto;
  width: 168px;
  height: 156px;
  background: #ffffff;
  border-top: 5px solid #ed513b;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
body #wrapper #opening span {
  display: block;
  width: 62px;
}
body #wrapper #opening span#where {
  margin: auto;
  padding: 26px 0 10px 0;
  font-family: PlutoSansBold, sans-serif;
  font-size: 14px;
  line-height: 1em;
  border-bottom: 1px solid #ed513b;
  text-align: center;
}
body #wrapper #opening span#where i {
  font-family: PlutoSansLight, sans-serif;
  font-size: 16px;
  line-height: 1em;
  display: block;
  letter-spacing: 3px;
}
body #wrapper #opening span#season {
  margin: auto;
  padding: 10px 0 0px 0;
  font-family: PlutoSansBold, sans-serif;
  font-size: 14px;
  line-height: 24px;
}
body #wrapper #opening span#year {
  margin: auto;
  padding: 0px 0 13px 0;
  font-family: PlutoSansBold, sans-serif;
  font-size: 25px;
  line-height: 25px;
}
body #wrapper #what {
  padding: 63px 0 0;
}
body #wrapper #what h1 {
  margin: auto;
  display: block;
  width: 741px;
  height: 113px;
  background: url('../img/logo_ke.png') center center no-repeat;
}
body #wrapper #what h1 span {
  display: none;
}
body #wrapper #what h2 {
  padding-top: 20px;
  font-family: PlutoSansLight, sans-serif;
  font-size: 27px;
  line-height: 1em;
  letter-spacing: 1px;
  white-space: nowrap;
}
body #wrapper #what h2 b {
  color: #ed513b;
}
body #wrapper #who h3 {
  padding-top: 12px;
  padding-bottom: 28px;
  font-family: PlutoSansLight, sans-serif;
  font-size: 25px;
  line-height: 1em;
}
body #wrapper #who #subscription-box {
  position: relative;
  margin: auto;
  border: 1px solid #e5e5e5;
  background: #ffffff;
  padding: 9px;
  height: 43px;
  width: 534px;
}
body #wrapper #who #subscription-box input {
  -webkit-appearance: none;
  border-radius: 0;
}
body #wrapper #who #subscription-box input[type=email] {
  box-shadow: inset 0px 2px 5px #e5e5e5;
  font-family: PlutoSansLight, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  left: 9px;
  position: absolute;
  width: 400px;
  height: 41px;
  margin: 0;
  padding: 0px 0px 0px 10px;
  border: 1px solid #cccccc;
}
body #wrapper #who #subscription-box input[type=email]:focus {
  border: 1px solid #ed513b;
  outline: none;
}
body #wrapper #who #subscription-box input[type=submit] {
  left: 411px;
  position: absolute;
  font-family: PlutoSansBold, sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  background: #c6301a;
  color: #ffffff;
  margin: 0;
  padding: 0 5px;
  border: 0;
  width: 130px;
  height: 43px;
  border: 1px solid #c6301a;
  text-transform: uppercase;
}
body #wrapper #contact {
  margin-bottom: 64px;
}
body #wrapper #contact h4 {
  width: 62px;
  height: 58px;
  margin: 32px auto 16px auto;
  display: block;
  background: url('../img/twitter_ico.png') center center no-repeat;
  border-bottom: 1px solid #ed513b;
}
body #wrapper #contact h4:hover {
  opacity: 0.8;
}
body #wrapper #contact h4 span {
  display: none;
}
body #wrapper #contact a {
  font-family: PlutoSansBold, sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  color: #231f20;
  text-decoration: none;
}
body #wrapper #contact a:hover {
  border-bottom: 1px solid #231f20;
}
