<a id="workshop-standardistas"></a>
<div class="session" id="workshop-standardistas">
    <div class="speaker">
		<div class="image"><img src="img/standardistas.png"></div>
		<div class="info">
			<div class="name">The Standardistas</div>
			<div class="twitter"><a href="http://www.twitter.com/standardistas/">@standardistas</a></div>
			<div class="bio">
				In addition to their role as lecturers in interactive design at the University of Ulster at Belfast, where they have been active in promoting a web standards-based curriculum, <b>Christopher Murphy</b> and <b>Nicklas Persson</b> are practicing designers and digital artists. Their work has featured in a variety of design books and magazines alongside numerous internationally respected designers and they are regular speakers at design conferences and workshops worldwide.	
			</div>
			<div class="meta first">
				<div class="duration">Duration: 8 hours</div>
				<!--div class="where">
					<b>Venue: TBD</b><br>
					<a class="gmap" href="#"></a>
				</div-->
				<div class="buy">
					<a href="#tickets">Get your ticket <b>€245</b></a>
				</div>
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">The Craft of Web Typography</div>
		<div class="abstract">
			<p>This workshop, delivered in the tried and tested Standardistas' Style® will introduce the wonders rich web typography offers.
			</p>
			<p>Creating typographically rich and inspiring designs has never been easier and offers significant benefits and opportunities for a Retina ready future. In this workshop we'll introduce some fundamentals of typography, drawn from a long tradition, and explore the new visual language that rich web type now offers.
			Armed with this fundamental knowledge and an abundance of typographic tools – not to mention the Standardistas' 'Bag of Awesome™' * – we show the aspiring typographer the tricks of the trade through a series of hands-on typographic exercises.
			</p>
			<p>By the end of an intensive, but enjoyable day, participants will have acquired a wealth of typographic knowledge on which to build, ensuring that they leave inspired and ready to apply their new-found skills to create beautifully crafted web type experiences.
			</p>
			<p>* Complimentary for every workshop participant. Nice!</p>
		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://www.kerning.it/workshops.html" addthis:title="Workshops at Kerning Conference 2013" addthis:description="Don't miss them!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
