<div class="session">
	<div class="speaker">
		<div class="image"><img src="img/marko.png"></div>
		<div class="info">
			<div class="name">Marko Dugonjić</div>
			<div class="twitter"><a href="http://www.twitter.com/markodugonijc/">@markodugonijc</a></div>
			<div class="bio">
			<b>Marko Dugonjić</b> is a designer and web standards developer from Zagreb, Croatia. As the creative and user experience director at <a href="http://www.creativenights.com">Creative Nights</a>, Marko improves customers’ digital experience for top local and international clients and occasionally speaks at international web design conferences. He founded <a href="http://2013.ffwd.pro">ffwd.pro</a>, a micro-conference and workshops for internet professionals in Croatia. One of his favorite projects is Typetester, a popular online tool for testing screen fonts.
			</div>
			<div class="meta first">
				<div class="duration">Duration: 8 hours</div>
				<div class="where">
					<b>&nbsp;</b><br>
					<a class="gmap" href="#"></a>
				</div>
				<div class="buy">
					<a href="#buy-tickets">Get your ticket <b>€TBD</b></a>
				</div>
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">&nbsp;</div>
		<div class="abstract">
			&nbsp;
		</div>
	</div>
</div>
