<a id="workshop-tastemeat"></a>
<div class="session" id="workshop-tastemeat">
    <div class="speaker">
		<div class="image"><img src="img/tastemeat.png"></div>
		<div class="info">
			<div class="name">Anonima Impressori</div>
			<!--div class="twitter"><a href="http://www.twitter.com/tastemeat/">@tastemeat</a></div-->
			<div class="url"><a href="http://www.anonimaimpressori.it">anonimaimpressori.it</a></div>
			<div class="bio">
				Based in Bologna Anonima Impressori is a contemporary letterpress studio, print studio and design studio, an hybrid project started in  2012 when MEAT Collettivo grafico and AttilaMarcel studio met each other. 
Anonima Impressori is based on one hand, on  traditional kraft skills in printing, and on the other on  contemporary way of design well-supported by  digital and fast device. 
The aim of the project Anonima Impressori is to use digital and contemporary design process to bring to nowadays the proportion and the balance of "old style typography".
			</div>
			<div class="meta first">
				<div class="duration">Duration: 8 hours</div>
				<div class="where">
					<b>La Vecchia Stamperia</b><br>
					<a class="gmap" href="http://mapsengine.google.com/map/view?mid=zcKylUwHCIUg.ky7MY2ssymMc">Look at the map!</a>
				</div>
				<div class="buy">
					<a href="#tickets">Get your ticket <b>€245</b></a>
				</div>
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">When in typography, do as the typographers do…</div>
		<div class="abstract">
			<p><b>A letterpress and typographic composition workshop.</b></p>


<p>Each and every typographic printshop is a layering of materials, recoveries and tricks.   
Each and every typographer has his own personal way of organizing, creating and cataloguing.</p>

<p>The life of a printshop is represented by the typefaces kept in it, by the forgotten compositions that lay in its dusty corners, by old clichés and, in luckiest and rarest occasions (as in "La vecchia stamperia"), wood engravings… a history whose remains are images, pieces and broken messages, just as an archaeological site.</p>
 
<p>The workshop we are proposing here, investigates the ways traditional typography can be used in actual contemporary communication, while bringing a particular emphasis to a fundamental aspect of this practice: the act of recovery.
By recovering ancient techniques and materials, a substrate made by images emerges: a substrate that characterizes the "typographic place" both culturally and geographically.
These exact materials are where we want to start our journey from, a path that will lead to the construction of a new approach to artisanal typography.</p>


<p>Morning: 
	<ul>
<li>-introduction to typography with letterpress
<li>-printing demonstration at "La Vecchia Stamperia"
<li>-observation of how an "old style" typography is organized
<li>-introduction to tools: Typefaces, machinery (presses), cliché, woodcut block, block of type, specimen sheet. 
<li>-Experience of typography process 
</ul></p>

<p>Afternoon: 
	<ul>
<li>-Development of personal project
<li>-Printing with press 
<li>-Debate on the works
</ul></p>


<p>Bring a pencil, computer and a camera (and, if you have them: linocut knife, burin, lino and different materials for the printing plate)</p>
	    </div>
	    <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://www.kerning.it/workshops.html" addthis:title="Workshops at Kerning Conference 2013" addthis:description="Don't miss them!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
    </div>
</div>
