<a id="workshop-dugonijc"></a> 
<div class="session" id="workshop-dugonijc">
     <div class="speaker">
		<div class="image"><img src="img/marko.png"></div>
		<div class="info">
			<div class="name">Marko Dugonjić</div>
			<div class="twitter"><a href="http://www.twitter.com/markodugonijc/">@markodugonijc</a></div>
			<div class="bio">
			<b>Marko Dugonjić</b> is a designer and web standards developer from Zagreb, Croatia. As the creative and user experience director at <a href="http://www.creativenights.com">Creative Nights</a>, Marko improves customers’ digital experience for top local and international clients and occasionally speaks at international web design conferences. He founded <a href="http://2013.ffwd.pro">ffwd.pro</a>, a micro-conference and workshops for internet professionals in Croatia. One of his favorite projects is Typetester, a popular online tool for testing screen fonts.
			</div>
			<div class="meta first">
				<div class="duration">Duration: 8 hours</div>
				<!--div class="where">
					<b>&nbsp;</b><br>
					<a class="gmap" href="#"></a>
				</div-->
				<div class="buy">
					<a href="#tickets">Get your ticket <b>€245</b></a>
				</div>
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">Responsive Web Typography</div>
		<div class="abstract">
			<p>This workshop is a combination of presentations and hands-on exercises intended for web designers and developers who want to learn how to shape typography for better aesthetic experiences, readability, and clarity of content across different contexts of the Responsive Web.</p>

<p>Topics include:
<ul>
	<li>- Selecting and combining typefaces.</li>
	<li>- Designing body copy, headings and editorial elements.</li>
	<li>- Establishing and preserving a vertical rhythm.</li>
	<li>- Making and breaking the grid.</li>
	<li>- Designing tables.</li>
	<li>- Detail in typography.</li>
	<li>- New possibilities with CSS3.</li>
	<li>- Responsive Web Typography.</li>
</ul></p>
<p>Requirements:
<ul>
	<li>- Laptop with a code editor.</li>
	<li>- Basic to intermediate knowledge of HTML and CSS.</li>
</ul></p>
		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://www.kerning.it/workshops.html" addthis:title="Workshops at Kerning Conference 2013" addthis:description="Don't miss them!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
