<div class="section" id="location">
		<div class="wrapper">
			<h2>Location</h2>
			<div id="location-abstract">
				<p class="col">
					<span class="intro">The conference will be held in <b>Faenza</b>, a nice medieval city in the north-east of Italy, home of an ancient tradition in&nbsp;design and&nbsp;craftsmanship.</span>
				</p>

				<p class="col">
					<!--<b>Faenza (<a href="http://goo.gl/maps/nQILb">map</a>) is placed in the north of Italy well connected to Bologna and Florence stations and&nbsp;airports.</b>-->
					<b>Faenza (<a href="http://goo.gl/maps/nQILb">map</a>) is just a 20 minutes train ride from Bologna (40 minutes from BLQ airport).</b>
					<br></br>
					From Faenza you can reach in short time the <b>Guglielmo Marconi International Airport (BLQ)</b>, with a lot of international connections available, including <b>non-stop flights</b> to Amsterdam, Brussels (National), Charleroi (Brussels South), Copenhagen, Dublin, Edinburgh, Istanbul, Lisbon, London, Madrid, Moscow, Paris, Prague, Vienna, 
					and&nbsp;Zagreb.</b>
				</p>
			</div>
		</div>
	</div>