<div class="section" id="speakers">
		<div class="wrapper">
			<h2>Speakers</h2>
			
			<ul id="speakers-list">
				<li>
					<img src="/img/lucas.png">
					<span>Luc(as)<br>De Groot</span>
				</li>
				<li>
					<img src="/img/marko.png">
					<span>Marko<br>Dugonjić<br></span>
				</li>
				<li>
					<img src="/img/nina.png">
					<span>Nina<br>Stössinger<br></span>
				</li>
				<li>
					<img src="/img/standardistas.png">
					<span>The<br>Standardistas<br></span>
				</li>
				<li>
					<img src="/img/rich.png">
					<span>Richard<br>Rutter<br></span>
				</li>
				<li>
					<img src="/img/yves.png">
					<span>Yves<br>Peters<br></span>
				</li>
				<li>
					<img src="/img/aral.png">
					<span>Aral<br>Balkan<br></span>
				</li>
				<li>
					<img src="/img/tastemeat.png">
					<span>Anonima<br>Impressori<br></span>
				</li>
			</ul>
			
			<!--div class="more">&hellip;more to be announced soon!</div-->
		</div>
	</div>