<div class="section" id="conference">
		<div class="wrapper">
			<h2>Conference</h2>
			<h3>May 3, 2013</h3>
			<div id="conference-abstract">
				{% include talks/talk-simone.html %}
				{% include talks/talk-lucas.html %}
				{% include talks/talk-nina.html %}
				{% include talks/talk-richard.html %}
				{% include talks/talk-yves.html %}
				{% include talks/talk-marko.html %}
				{% include talks/talk-aral.html %}
				{% include talks/talk-bas.html %}
				{% include talks/talk-standardistas.html %}



			</div>
			<!--div class="more">&hellip;more to be announced soon!</div-->
		</div>
	</div>
