<div class="section" id="schedule">
		<div class="wrapper">
			<h2>Schedule</h2>
			<h3>May 3, 2013</h3>
			<div id="schedule-abstract">
				<div class="schedule-session">
					<div class="hour">8.30</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Registration</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session">
					<div class="hour">9.30</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Welcome / Opening&nbsp;Remarks</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="lucas">
					<div class="hour">9.40</div>
					<div class="image"><img src="img/lucas.png"></div>
					<div class="topic">
						<div class="title">Keynote</div>
						<div class="name">Luc(as) De Groot</div>
					</div>
				</div>
				<div class="schedule-session" id="nina">
					<div class="hour">10.30</div>
					<div class="image"><img src="img/nina.png"></div>
					<div class="topic">
						<div class="title">The&nbsp;Hitchhiker’s Guide&nbsp;to&nbsp;Typography</div>
						<div class="name">Nina Stössinger</div>
					</div>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">11.15</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Coffee&nbsp;Break</div>
						<div class="name">Kindly sponsored by Hoefler &amp; Frere-Jones</div>
					</div>
				</div>
				<div class="schedule-session" id="richard">
					<div class="hour">11.35</div>
					<div class="image"><img src="img/rich.png"></div>
					<div class="topic">
						<div class="title">Inspiring&nbsp;Web&nbsp;Typography You&nbsp;Can&nbsp;Do&nbsp;Now</div>
						<div class="name">Richard Rutter</div>
					</div>
				</div>
				<div class="schedule-session" id="marko">
					<div class="hour">12.25</div>
					<div class="image"><img src="img/marko.png"></div>
					<div class="topic">
						<div class="title">Responsive Web&nbsp;Typography</div>
						<div class="name">Marko Dugonjić</div>
					</div>
				</div>
				<div class="schedule-session">
					<div class="hour">13.10</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Lunch</div>
						<div class="name">Kindly sponsored by Hoefler &amp; Frere-Jones</div>
					</div>
				</div>
				<div class="schedule-session" id="yves">
					<div class="hour">14.40</div>
					<div class="image"><img src="img/yves.png"></div>
					<div class="topic">
						<div class="title">Two Decades of&nbsp;Trajan in Movie&nbsp;Posters</div>
						<div class="name">Yves Peters</div>
					</div>
				</div>
				<div class="schedule-session" id="aral">
					<div class="hour">15.30</div>
					<div class="image"><img src="img/aral.png"></div>
					<div class="topic">
						<div class="title">Content Out Design</div>
						<div class="name">Aral Balkan</div>
					</div>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">16.15</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Coffee Break</div>
						<div class="name">Kindly sponsored by Hoefler &amp; Frere-Jones</div>
					</div>
				</div>
				<div class="schedule-session" id="bas">
					<div class="hour">16.35</div>
					<div class="image"><img src="img/bas.png"></div>
					<div class="topic">
						<div class="title">Tea is the new coffee. The book is the new LP. Hinting is the new kerning. Doing is the new thinking.</div>
						<div class="name">Bas Jacobs</div>
					</div>
				</div>
				<div class="schedule-session" id="standardistas">
					<div class="hour">17.25</div>
					<div class="image"><img src="img/standardistas.png"></div>
					<div class="topic">
						<div class="title">These go to eleven…</div>
						<div class="name">Chris Murphy</div>
					</div>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">18.10</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Closing Remarks</div>
						<div class="name"></div>
					</div>
				</div>
			</div>
		</div>
	</div>