<div class="section" id="location">
		<div class="wrapper">
			<h2>Location</h2>
			<div id="location-abstract">


				<div class="col">
					<span class="intro">The conference will be held in <b>Faenza</b>, a nice medieval city in the north-east of Italy, home of an ancient tradition in&nbsp;design and&nbsp;craftsmanship.</span>
				</div>

				
				
				<div class="col">
					<h3>You will be surprised to learn how easy it is to reach&nbsp;Faenza!</h3>
					<dl>
						<dt>By Car</dt>
						<dd>If you come from Milan, Bologna or Rimini, you can reach the conference venue driving on Statale 9 "Emilia" (Highway) or on the <b>Autostrada A14</b> (tolled motorway).<br>Take the exit at Faenza.<br>If you come from Florence or Ravenna just drive on Statale 302.</dd>
						<dt>By Train</dt>
						<dd><b>Faenza is also well served by the railway line.</b><br>About every half hour a train leaves from Bologna Centrale and reaches the town in 25/30 minutes.
<br><a href="http://www.raileurope.com/us/rail/point_to_point/triprequest.htm">Click here</a> to get the complete <b>timetable.</b></dd>
						<dt>By Plane</dt>
						<dd>If you're coming from further afield, <b>"G. Marconi" Airport (BLQ)</b> serves many European destinations, and is <b>just a 25 minute bus ride away</b> from Bologna Centrale (Railway Station). Use <a href="http://www.kayak.com/">Kayak</a> or <a href="http://www.skyscanner.com/">Skyscanner</a> to find the best rates for your flight.</dd>
						
 
<dt>Sleep in Faenza</dt>
<dd>The city offers a lot of <a href="http://www.booking.com/searchresults.en-gb.html?aid=340631;label=faenza-ViC59dxm7FYx4bhvu8%2AwCwS14900678625%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap1t1%3Aneg;sid=6d2f802332bbfdc87ec44ccd0f19243f;dcid=1;city=-117144;redirected_from_city=1;src=city">Bed &amp; Breakfasts</a> and <b>we have a convention</b> with <a href="http://www.hotel-vittoria.com/english/index.html">Hotel Vittoria</a> (5 minutes walk from the conference venue). </dd>
<dt>Once in Faenza</dt>
<dd>Once you reach Faenza, if you're by car, you can <b>safely park</b> in one of the <a href="http://translate.google.it/translate?sl=it&tl=en&js=n&prev=_t&hl=it&ie=UTF-8&eotf=1&u=http%3A%2F%2Fwww.comune.faenza.ra.it%2FCitta%2FMuoversi-a-Faenza%2FParcheggi">many free car parks</a> in the city. <br>
 
Faenza is a small town and you could easily cover it all walking just few minutes.</br>
However, if you're a bit lazy, you can always take advantage of the <b>bike sharing service</b> (8 Euros one-off).<br> <a href="http://translate.google.it/translate?sl=it&tl=en&js=n&prev=_t&hl=it&ie=UTF-8&eotf=1&u=http%3A%2F%2Fwww.comune.faenza.ra.it%2FCitta%2FMuoversi-a-Faenza%2FServizio-bici-pubbliche&act=url">Click here for more informations</a>.</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>