<div class="section" id="conference">
		<div class="wrapper">
			<h2>About Us</h2>
			<h3>the crew who made Kerning a great conference</h3>
			<div id="about-us">
				
				{% include about/matteo.html %}
                {% include about/fullo.html %}
                {% include about/chris.html %}
                {% include about/luca.html %}
                {% include about/strada.html %}
                {% include about/nicolo.html %}

			</div>
			<!--div class="more">&hellip;more to be announced soon!</div-->
		</div>
	</div>
