<div class="section" id="sponsors"><a id="sponsor"></a>
		<div class="wrapper">
			<h2>Sponsors</h2>

			<h3 class="greatprimer">Great Primer</h3>
			<div class="sponsor-block great">
				<img src="/img/great-plc.png" class="sponsor-tooltip" class="sponsor-tooltip" data-toggle="tooltip" data-placement="top" data-title="This space is awaiting you!">
				
			</div>
			<h3 class="pica">Pica</h3>
			<div class="sponsor-block pica">
				<a href="http://www.typekit.com/"><img src="/img/pica-typekit.png"></a>
				<a href="http://www.fontdeck.com/"><img src="/img/pica-fontdeck.png"></a><br>
				<a href="http://www.myfonts.com/"><img src="/img/pica-myfonts.gif"></a>
			</div>
			<h3 class="bourgeois">Bourgeois</h3>
			<div class="sponsor-block bourgeois">
				<a href="http://www.typography.com"><img src="/img/bourgeois-h&fj.png"></a>
				<a href="http://www.fontfont.com/"><img src="/img/bourgeois-fontshop.png"></a>
				<a href="http://www.mailchimp.com/"><img src="/img/bourgeois-mailchimp.png"></a>
				
			</div>
			<h3 class="minion">Minion</h3>
			<div class="sponsor-block minion">
				<a href="http://www.8faces.com/"><img src="/img/minion-8faces.png"></a>
				<a href="http://www.type-together.com"><img src="/img/minion-typetogether.png"></a>
			</div>
			<h3 class="media">Media Partners</h3>
			<div class="sponsor-block media">
				<a href="http://www.fivesimplesteps.com/"><img src="/img/media-FiveSimpleSteps.png"></a>
				<a href="http://www.talentgarden.it"><img src="/img/media-tag.png"></a>
				<a href="http://www.frontiersofinteraction.com"><img src="/img/media-foi.png"></a>
				<a href="http://www.grusp.it"><img src="/img/media-grusp.png"></a>
				<a href="http://www.tiragraffi.it"><img src="/img/media-tiragraffi.png"></a><br>
				<a href="http://www.simplicissimus.it"><img src="/img/media-simplicissimus.png"></a>
				<a href="http://www.smashingmagazine.com"><img src="/img/media-smashing.png"></a>
				<a href="http://www.slanted.de"><img src="/img/media-slanted.png"></a>
				<a href="http://rosenfeldmedia.com"><img src="/img/media-rosenfeld.png"></a><br>
				<a href="http://hunie.co"><img src="/img/media-hunie.png"></a>
				<a href="http://www.apogeonline.it"><img src="/img/media-apogeo.png"></a>
				<a href="http://tdc.org"><img src="/img/media-tdc.jpg"></a>
                <a href="http://www.awwwards.com/"><img src="/img/media-awwwards.png"></a>
			</div>

			<div class="become-sponsor">
				<span>Interested in sponsoring Kerning?</span><br>
				<a href="/sponsorpack.pdf" >Download our sponsor pack</a>
			</div>
		</div>
	</div>
