<div class="section"  id="calling"><a id="newsletter"></a>
		<div class="wrapper">
			<section id="who">
				<h2>Calling all type lovers</h2>
				<div id="subscription-box">

					<form action="//grusp.us5.list-manage.com/subscribe/post?u=29d918424cd5375f4c0c54c00&amp;id=0994d02486" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="OMG, please keep me posted!">
						<input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button">
					</form>
				<div>
			</section>
		</div>
	</div>
