<div class="section" id="speakers">
		<div class="wrapper">
			<h2>Speakers</h2>
			
			<ul id="speakers-list">
				<li>
					<a href="/speakers.html#lucas">
					<img src="/img/lucas.png">
					<span>Luc(as)<br>De&nbsp;Groot</span>
					</a>
				</li>
				<li>
					<a href="/speakers.html#richard">
					<img src="/img/rich.png">
					<span>Richard<br>Rutter<br></span>
					</a>
				</li>
				<li>
					<a href="/speakers.html#aral">
					<img src="/img/aral.png">
					<span>Aral<br>Balkan<br></span>
					</a>
				</li>
				<li>
					<a href="/speakers.html#bas">
					<img src="/img/bas.png">
					<span>Bas<br>Jacobs<br></span>
					</a>
				</li>

				<li>
					<a href="/speakers.html#marko">
					<img src="/img/marko.png">
					<span>Marko<br>Dugonjić<br></span>
					</a>
				</li>
				<li>
					<a href="/speakers.html#nina">
					<img src="/img/nina.png">
					<span>Nina<br>Stössinger<br></span>
					</a>
				</li>
				<li>
					<a href="/speakers.html#standardistas">
					<img src="/img/standardistas.png">
					<span>Chris<br>Murphy<br></span>
					</a>
				</li>
				<li>
					<a href="/speakers.html#yves">
					<img src="/img/yves.png">
					<span>Yves<br>Peters<br></span>
					</a>
				</li>
				
				<li>
					
					<img src="/img/simone.png">
					<span>Simone<br>Wolf<br></span>
				
				</li>
			
			</ul>
			
			<!--div class="more">&hellip;more to be announced soon!</div-->
		</div>
	</div>