<div class="section" id="venue">
		<div class="wrapper">
			<h2>Venue</h2>
			<div id="venue-abstract">
				<div class="col">
					<img src="/img/cinema.png">
				</div>

				<div class="col">
					<h3>Kerning will be held at the completely&nbsp;renewed
					<b>Cinema&nbsp;Teatro&nbsp;Sarti</b><br>
					Via Scaletta, 10 - Faenza</h3>

					<p>The foyer has one main area where attendees will rest during the coffee breaks and a private garden where buffet will be served.
					It is placed in the center of the town, 5 minutes walking to the main&nbsp;square.</p>

					<p>Main sponsors (<a href="/sponsorpack.pdf">grab our sponsor pack</a>) will have a reserved exhibition area assigned to help connect with the&nbsp;attendees.</p>
				</div>
				
				<div class="col">
					<dl>
						<dt>350</dt>
						<dd>seats</dd>
						<dt>5 Mins</dt>
						<dd>from the city center</dd>
						<dt>Art Nouveau</dt>
						<dd>context</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
