<div class="section" id="tickets"><a id="tickets"></a>
		<div class="wrapper">
			<h2>Grab your ticket!</h2>
			<p>Students are eligible for a special discounted ticket for the conference (save up to 50%).</p><p>Just <a href="mailto:info@kerning.it">send us an email</a> with your ID and a proof you are really a student and we will send you a promotional&nbsp;code.</p>
			<a id="eventbrite-link" href="http://kerning-2013.eventbrite.com">Buy it now!</a>
			<div id="eventbrite-iframe" style="width:100%; text-align:left;" ><iframe
                src="http://www.eventbrite.com/tickets-external?eid=5219796552&ref=etckt&v=2"
                frameborder="0" height="510" width="100%" vspace="0" hspace="0"
                marginheight="5" marginwidth="5" scrolling="auto"
                allowtransparency="true"></iframe></div>
		</div>
	</div>
