<div class="session" id="nina">
	<div class="speaker">
		<div class="image"><img src="img/nina.png"></div>
		<div class="info">
			<div class="name">Nina Stössinger</div>
			<div class="twitter"><a href="http://www.twitter.com/ninastoessinger/">@ninastoessinger</a></div>
			<div class="bio">
				<b>Nina Stössinger</b>, Swiss independent designer with a focus on type and typography. Started out making websites half a life ago; then while studying multimedia design (in Halle, Germany) she fell in love with type, and went on to a postgraduate type design class (in Zurich). While Nina remains curious about the web, she now spends her days designing mostly for print, and many of her nights designing type – her first typeface, <b>FF Ernestine</b>, was released in 2011. She recently taught an introductory class to screen typography, sometimes speaks and writes, and wants to always keep learning.
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">The Hitchhiker’s Guide to Typography</div>
		<div class="abstract">
			<p>
				Insights and perspectives involving time travel, the wonders of space, and magic numbers that hold the answer to a question nobody remembers. 
			</p>
			<p>
				And yes, it’s all about type. 
			</p>
			<p>
				From an old-media background of typography mainly for books and brochures (and with examples from anthills to kitchen utensils, music to maps) Nina will offer screen people a perhaps slightly different look on typography, how to approach it (or how not to), and why you should take it seriously (but there’s no need to panic). 
			</p>
		</div>
	</div>
</div>