<div class="session" id="bas">
	<div class="speaker">
		<div class="image"><img src="img/bas.png"></div>
		<div class="info">
			<div class="name">Bas Jacobs</div>
			<div class="twitter"><a href="http://www.twitter.com/underware">@underware</a></div>
			<div class="bio">
				Type designer at <a href="http://underware.nl">Underware</a>. Studied visual communication at the art academy ABK in Maastricht and followed the post-graduate course typography and type design at the KABK Den Haag. Lives in Amsterdam, the Netherlands. Still on the look out for the 5kg jars of Nutella.</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">Tea is the new coffee. The book is the new LP. Hinting is the new kerning. Doing is the new thinking.</div>
		<div class="abstract">
			


		</div>
	</div>
</div>