<div class="session" id="richard">
	<div class="speaker">
		<div class="image"><img src="img/simone.png"></div>
		<div class="info">
			<div class="name">Simone Angelica Wolf</div>
			<div class="">Facilitator</div>
			<div class="bio">
				<p>Born in Germany, <b>Simone Wolf</b> now lives in Italy, where she runs <a href="http://www.type-s.it">Type * s</a>, a study that offers business and marketing strategies for international companies in the graphic arts industry who try to sell their products and services in Italy.</p>
				<p>Simone has gained two decades of work experience in sales and marketing in the international graphic arts field, 5 of which at Linotype in Germany.</p>
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title"></div>
		<div class="abstract">
			
		</div>
	</div>
</div>