<div class="session" id="yves">
	<div class="speaker">
		<div class="image"><img src="img/yves.png"></div>
		<div class="info">
			<div class="name">Yves Peters</div>
			<div class="twitter"><a href="http://www.twitter.com/baldcondensed/">@baldcondensed</a></div>
			<div class="bio">
			A little over seven years ago graphic designer <b>Yves Peters</b> started reviewing type in his Bald Condensed column on <a href="http://typographer.org/">Typographer.org</a>. Yves currently edits <a href="http://fontfeed.com">The FontFeed</a>, a daily dispatch of recommended fonts, typography techniques, and inspirational examples of digital type at work in the real world; and Unzipped, his blog on the FontShop BeNeLux home page. He regularly speaks at schools and international conferences. His talent for being able to identify most typefaces on sight is utterly useless in daily life.
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">Two Decades of Trajan in Movie Posters (Reloaded)</div>
		<div class="abstract">
			<p>Soon after its appearance on the font market more than 20 years ago, the Adobe Original Trajan was embraced by Hollywood. </p>
			<p>Now it seems to grace more movie posters than any other typeface. </p>
			<p>Its stately and classic character shapes made it the go-to choice for Oscar material. </p>
			<p>Yet in recent years the popular font has apparently fallen from grace, and a pretender to the throne is vying to take its place.</p>
		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://www.kerning.it/speakers.html#yves" addthis:title="Yves Petersat Kerning Conference 2013" addthis:description="Yves will speak about typography and poster movies.">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>