<div class="session" id="marko">
	<div class="speaker">
		<div class="image"><img src="img/marko.png"></div>
		<div class="info">
			<div class="name">Marko Dugonjić</div>
			<div class="twitter"><a href="http://www.twitter.com/markodugonijc/">@markodugonijc</a></div>
			<div class="bio">
			<b>Marko Dugonjić</b> is a designer and web standards developer from Zagreb, Croatia. As the creative and user experience director at <a href="http://www.creativenights.com">Creative Nights</a>, Marko improves customers’ digital experience for top local and international clients and occasionally speaks at international web design conferences. He founded <a href="http://2013.ffwd.pro">ffwd.pro</a>, a micro-conference and workshops for internet professionals in Croatia. One of his favorite projects is Typetester, a popular online tool for testing screen fonts.
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">Responsive Web Typography</div>
		<div class="abstract">
<iframe src="//player.vimeo.com/video/74368443" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/74368443">Responsive Web Typography - Marko Dugonjić</a> from <a href="http://vimeo.com/grusp">GrUSP</a> on <a href="https://vimeo.com">Vimeo</a>.</p>	
		<p>Responsive Web Design done correctly is based upon content rather than actual device resolutions, and so typography should adapt to both layout and sizing across content breakpoints. </p>
			<p>However, mere font sizing along the typographic scale based upon two-dimensional viewport @media queries is not enough. </p>
			<p>Apart from setting the correct balance of the black and the white in letterforms and texts, there are other important factors such as reading distance, information density, screen sharpness and device orientation that also influence the reading process. </p>
			<p>Learn to look at typography multidimensionally and enhance the overall responsive experience.</p>
		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://www.kerning.it/speakers.html#marko" addthis:title="Marko Dugonjić at Kerning Conference 2013" addthis:description="Marko will speak about responsive web typography.">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
