<div class="session" id="standardistas">
	<div class="speaker">
		<div class="image"><img src="img/standardistas.png"></div>
		<div class="info">
			<div class="name">The Standardista: Chris Murphy</div>
			<div class="twitter"><a href="http://www.twitter.com/standardistas/">@standardistas</a></div>
			<div class="bio">
				<a href="http://christophermurphy.org">Christopher Murphy</a> is a writer, designer
and educator based in Belfast. Adrian Shaughnessy, writing for Creative
Review, described him as, “A William Morris for the digital age,” (an
epithet he aspires to fulfil daily). He publishes the world’s most compact
typography journal, <a href="http://getglyph.org">Glyph</a>, writes about typography
for <a href="http://8faces.com">8 Faces</a> (amongst other publications), and is one half
of tweed-clad duo <a href="http://webstandardistas.com/">The Standardistas</a>.
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">These go to eleven…</div>
		<div class="abstract">
<iframe src="//player.vimeo.com/video/73183172" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/73183172">These go to eleven… - Chris Murphy</a> from <a href="http://vimeo.com/grusp">GrUSP</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
			<p>The typographic choices we make shape our content and how it is perceived. We can use type to whisper and we can use type to shout.</p>

<p>As designers we are entrusted to decide whether the typography we craft should become invisible, or reach out and grab our audience by the scruff of the neck. Before we can make that choice, however, we need to get to know our type – its personality, its characteristics and its history. Our content, of course, should also inform our choices.</p>

<p>Whilst its tempting to think of the rich typographic landscape we now find ourselves occupying as a new and undiscovered land, it is - in fact - a land that has been comprehensively mapped before. Thanks to the possibilities web typography offers, we, as designers, can rediscover timeless design qualities, creating work which sit outside of time, whether it’s shouting or whispering.</p>
			<br>
		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://www.kerning.it/speakers.html#standardistas" addthis:title="The Standardistas at Kerning Conference 2013" addthis:description="The Standardistas will speak about web typography.">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
