<div class="session" id="lucas">
	<div class="speaker">
		<div class="image"><img src="img/lucas.png"></div>
		<div class="info">
			<div class="name">Luc(as) De Groot</div>
			<div class="twitter"><a href="http://www.twitter.com/fontfabrik">@fontfabrik</a></div>
			<div class="bio">Berlin-based Dutch type designer <b>Luc(as) de Groot</b> is mostly known for his large font family Thesis: TheSans, TheSerif, TheMix, TheSansMono and TheAntiqua. He designed Corpid and custom fonts for magazines such as TAZ for die tageszeitung and SpiegelSans for Der Spiegel in Germany, FolhaSerif for the Brazilian newspaper Folha de S.Paulo, plus others for Le Monde, Metro, and German TV station ARD. He created corporate type for international companies including Sun Microsystems, Bell South, Heineken, Siemens and Miele. For Microsoft he designed the monospaced font family Consolas, and Calibri, the new standard typeface in Microsoft Word.
Luc(as) de Groot is a web font and hinting specialist and developed a theory of interpolation. He runs his type foundry LucasFonts and design bureau FontFabrik in Berlin, and teaches at the University of Applied Sciences in Potsdam, Germany.</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">Keynote</div>
		<div class="abstract">
			&nbsp;
		</div>
	</div>
</div>