<div class="session" id="bas">
	<div class="speaker">
		<div class="image"><img src="img/bas.png"></div>
		<div class="info">
			<div class="name">Bas Jacobs</div>
			<div class="twitter"><a href="http://www.twitter.com/underware">@underware</a></div>
			<div class="bio">
				Type designer at <a href="http://underware.nl">Underware</a>. Studied visual communication at the art academy ABK in Maastricht and followed the post-graduate course typography and type design at the KABK Den Haag. Lives in Amsterdam, the Netherlands. Still on the look out for the 5kg jars of Nutella.</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">Tea is the new coffee. The book is the new LP. Hinting is the new kerning. Doing is the new thinking.</div>
		<div class="abstract">
<iframe src="//player.vimeo.com/video/75243241" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/75243241">Tea is the new coffee. The book is the new LP. Hinting is the new kerning. Doing is the new thinking - Bas Jacobs</a> from <a href="http://vimeo.com/grusp">GrUSP</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
			Fonts. Web. Software. In the last decades the way fonts are being used, shifted into a more and more digital environment. And digital environments keep shifting themselves too. This shift has consequences for those who create type, and of course also for those who use type. With its endless possibilities, the digital age also brought some unexpected complications. Weren't things supposed to become easier? Apparently all simple things can be made complicated. But making complicated things look easy might be more complicated than you excepted. This presentation is a tribute to all technical fuss of type in an evolving digital age.

		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://www.kerning.it/speakers.html#bas" addthis:title="Bas Jacobs at Kerning Conference 2013" addthis:description="Aral will speak about hinting in typography.">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>

</div>
