<div class="session" id="aral">
	<div class="speaker">
		<div class="image"><img src="img/aral.png"></div>
		<div class="info">
			<div class="name">Aral Balkan</div>
			<div class="twitter"><a href="http://www.twitter.com/aral/">@aral</a></div>
			<div class="bio"><b>Aral Balkan</b> is an experience designer and developer working to change the world through better design. He recently won Voice of the Year at the Critter Awards for his talks at international conferences and gave a talk at TED@London which has him in the running to present at TED Global 2013. He is currently rebooting. You can follow his personal reboot narrative on his hand‐crafted blog, <a href="http://www.breakingthin.gs/">Breaking Things</a>.</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">Content‐out typography</div>
		<div class="abstract">
			<p>Experience design is concerned with creating things that communicate with people. Things that empower, amuse, and delight. On the web, and on many other mediums, a large part of that communication occurs through the written word and its nature is shaped by our typographical treatments. Typography gives the written word a stature, a voice, a mood, and emotion. Beyond simply the choice of letterforms and fonts, typography is concerned with the interplay of typographical elements.</p>

<p>In this pragmatic session, Aral Balkan will demonstrate how typographical concerns shape the way he works from initial content creation to finishing touches. With pragmatic tools, techniques, and workflows, this session will show you, instead of tell you, how you too can incorporate typographical thinking into your everyday workflows and practice content‐out typography.</p>
		</div>
	</div>
</div>