<div class="session" id="richard">
	<div class="speaker">
		<div class="image"><img src="img/rich.png"></div>
		<div class="info">
			<div class="name">Richard Rutter</div>
			<div class="twitter"><a href="http://www.twitter.com/clagnut/">@clagnut</a></div>
			<div class="bio">
				<b>Richard Rutter</b> is a founding partner of <a href="http://www.clearleft.com/">Clearleft</a>, a user experience consultancy whose recent clients include the BBC, NBC, WWF and Mozilla. Richard is an accomplished technical author and has spoken around the world about web typography and user experience design. In 2005 he created the much-lauded website <a href="http://www.webtypography.net/">The Elements of Typographic Style Applied to the Web</a>, which extols the virtues of what can be achieved on the web in type. In 2009 Richard co-founded the web font service <a href="http://www.fontdeck.com/">Fontdeck</a> as a way to unite web designers and type designers in introducing rich typography to the web. Richard was named in the Wired UK list of top 100 digital power brokers.
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">Inspiring Web Typography You Can Do&nbsp;Now</div>
		<div class="abstract">
			<p>This talk will use real world examples and a little code to get your typographic skills right up to the cutting edge of what is practical and desirable on the web right&nbsp;now.</p> 
			<p>You'll learn the tricky decisions around font choice and font pairing, concentrating on both practicalities and&nbsp;aesthetics. </p>
			<p>Typography has an important part to play within responsive design - this will be explored&nbsp;too. </p>
			<p>The typographic power of CSS 3 is still woefully underused - you'll learn the tricks highly skilled typographers have been using for decades and see them applied to&nbsp;the&nbsp;web.</p>
		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://www.kerning.it/speakers.html#richard" addthis:title="Rich Rutter at Kerning Conference 2013" addthis:description="Rich will speak about web typography you can do now.">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>