<div class="session">
	<div class="speaker">
		<div class="image"><img src="img/aral.png"></div>
		<div class="info">
			<div class="name">Aral Balkan</div>
			<div class="twitter"><a href="#">@aral</a></div>
			<div class="bio"><b>Aral Balkan</b> is an experience designer and developer working to change the world through better design. He recently won Voice of the Year at the Critter Awards for his talks at international conferences and gave a talk at TED@London which has him in the running to present at TED Global 2013. He is currently rebooting. You can follow his personal reboot narrative on his hand‐crafted blog, <a href="http://www.breakingthin.gs/">Breaking Things</a>.</div>
		</div>
	</div>
	<div class="topic">
		<div class="title">&nbsp;</div>
		<div class="abstract">
			&nbsp;
		</div>
	</div>
</div>