<div class="session" id="aral">
	<div class="speaker">
		<div class="image"><img src="img/chris.png"></div>
		<div class="info">
			<div class="name">Cristiano Rastelli</div>
			<div class="twitter"><a
                    href="http://www.twitter.com/areaweb/">@areaweb</a></div>
			<div class="bio">
                <p>
                I'm a passionate web designer & developer, with almost 15 years
                of working experience under my belt. </p>

                <p>I'm a hybrid professional: with my right-hand I design the
                user-experience and the visual-layout of websites and
                applications, with the left-one I craft the code behind the
                pages and the logics between them.</p>

                <p>I can lead a full project from scratch to deploy: I have an head
                able to analyze, foresee, plan and when necessary learn and
                adapt.</p>

                <p>I'm very proficient in coding semantic HTML5 and cross-browser
                CSS3, in building responsive and adaptive websites, in designing
                visual-appealing layouts and user-friendly interfaces. Of
                course, I can also work on PHP.</p>

                <p>I like to attend technical conferences, and quite often also
                speak at them. Sometimes, It happens that I even organize
                them.</p>
</div>
        </div>
    </div>

    <div class="topic">
        <div class="abstract">

                <p>You can follow me on my <a href="http://www.didoo.net/">personal blog</a> or on <a href="http://it.linkedin.com/in/didoo">linkein</a>
                </p>
		</div>
	</div>

</div>
