<div class="session" id="fullo">
	<div class="speaker">
		<div class="image"><img src="img/fullo.png"></div>
		<div class="info">
			<div class="name">Francesco Fullone</div>
			<div class="twitter"><a href="http://www.twitter.com/fullo/">@fullo</a></div>
			<div class="bio">
                <p><b>Francesco Fullone</b> is a nerd, an otaku and a father who
                occasionally does some work as entrepreneur and startup
                mentor.</p>

                <p>He loves to work with web technologies and his new hobby is
                testing startups business models. You can find him in almost
                every social networks as fullo and physically, sometimes, in
                <a href="http://www.ideato.it">ideato</a>'s office in
                Cesena.</p>

                <p>He spends some of his free time traveling, organizing
                conferences for <a href="http://grusp.org">GrUSP</a> and writing books. If you attended any
                international conference about web technologies in Italy, you
                met him as speaker, organizer or attendee.</p>
            </div>
        </div>
    </div>
    <div class="topic">
        <div class="abstract">
            <p>
            You can follow him <a href="http://linkedin.com/in/fullo">linkedin</a> and on his (italian)
            <a href="http://fullo.net">blog</a>.
            </p>
        </div>
	</div>

</div>
