<div class="session" id="aral">
	<div class="speaker">
		<div class="image"><img src="img/luca.png"></div>
		<div class="info">
			<div class="name">Luca Salvini</div>
			<div class="twitter"><a
                    href="http://www.twitter.com/lucasalvini">@lucasalvini</a></div>
			<div class="bio">
                <p>
                    Luca is a passionate freelance in love with frontend web
                    design and development. Actually he organises <a
                        href="http://fromthefront.it">From
                        The Front</a>
                    a conference solely dedicated to that theme.<p>
</div>
        </div>
    </div>

    <div class="topic">
        <div class="abstract">

                    <p>You can follow him on <a href="http://dribbble.com/players/lucasalvini">dribbble</a>
                    and <a href="http://it.linkedin.com/in/lucasalvini">linkedin</a>
                </p>
		</div>
	</div>

</div>
