<div class="session" id="aral">
	<div class="speaker">
		<div class="image"><img src="img/matteo.png"></div>
		<div class="info">
			<div class="name">Matteo Balocco</div>
			<div class="twitter"><a
                    href="http://www.twitter.com/MatteoBalocco">@MatteoBalocco</a></div>
			<div class="bio">
                <p>
                    Matteo is a UX designer in love with typography. He wrote
                    for Apogeo "Tipografia Web" and he participates to different
                    projects involving typography and ebooks publishing</p>
			</div>
		</div>
	</div>

	<div class="topic">
        <div class="abstract">
                <p>You can follow him on <a href="http://it.linkedin.com/in/matteobalocco">linkedin</a></p>
        </div>        
	</div>

</div>
