<div class="session" id="aral">
	<div class="speaker">
		<div class="image"><img src="img/nicolo.png"></div>
		<div class="info">
			<div class="name">Nicol&ograve; Volpato</div>
			<div class="twitter"><a
                    href="http://www.twitter.com/nicolovolpato">@nicolovolpato</a></div>
			<div class="bio">
                <p>
                Founder of <a href="http://gnvpartners.com">GNV & Partners</a>, Nicol&ograve; is in web design field since
                1999 as passionate hobbyist during high-school. Then as a
                professional since February 2004, after attending University and
                specilised training.<p>

                <p>His focus his daily job on applying design principles of beauty, simplicity,
                efficiency, functionality, usefullness and ergonomics to the
                Web. </p>

                <p>Specialised in website design and development using most modern
                techniques and Web Standards, crafting beautiful, hand-coded,
                valid and semantic XHTML and CSS.</p>
</div>
        </div>
    </div>

    <div class="topic">
        <div class="abstract">

                <p>
                You can follow him on <a href="http://it.linkedin.com/in/nicolovolpato">linkedin</a>
                and <a href="http://dribbble.com/nicolovolpato">dribbble</a>.
                
                </p>
		</div>
	</div>

</div>
