<div class="session" id="aral">
	<div class="speaker">
		<div class="image"><img src="img/strada.png"></div>
		<div class="info">
			<div class="name">Enrico Stradaioli</div>
			<div class="twitter"><a
                    href="http://www.twitter.com/stradaioli/">@stradaioli</a></div>
			<div class="bio">
                <p>
                He is a passionate designer, in more than 12 year he pratically
                reach each form of design. From Light environment to logo & corporate,
                web design, food packages and labels, skateboard & t-shirt.<p>
</div>
        </div>
    </div>

    <div class="topic">
        <div class="abstract">

                <p>
                You can see his latest projects on <a
                href="http://it.linkedin.com/in/stradaioli">linkedin</a> and 
                on <a href="http://www.behance.net/STRADAioli">behance</a>
                </p>
		</div>
	</div>

</div>
